<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630436438034-jtu4mvief3rsv6uqggus360cq8caf3bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630436438034-jtu4mvief3rsv6uqggus360cq8caf3bv</string>
	<key>API_KEY</key>
	<string>AIzaSyB2-JsXPdqAjtZuGzS1HesTVd_TqvP2Jy0</string>
	<key>GCM_SENDER_ID</key>
	<string>630436438034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartartine.live</string>
	<key>PROJECT_ID</key>
	<string>bar-tartine</string>
	<key>STORAGE_BUCKET</key>
	<string>bar-tartine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630436438034:ios:7bd4d388d4addf1b67f8cb</string>
	<key>DATABASE_URL</key>
	<string>https://bar-tartine.firebaseio.com</string>
</dict>
</plist>